* {
	padding: 0;
	margin: 0;
}

body {

}

maincontainer {
	display: block;
	position: fixed;
	overflow: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

realtime-input {
	display: block;
	width: 99%;
	margin-top: 5px;
	margin-bottom: 5px;
}

realtime-input label {
	display: inline-block;
	width: 25%;
	text-align: right;
}

realtime-input input {
	display: inline-block;
	font-size: 16px;
	font-family: Arial;
}

.centering-t {
	width: 100%;
	height: 100%;
}

.centering-t-td {
	vertical-align: middle;
	width: 100%;
}

.smallhtext {
	font-size: 18px;
	font-family: Calibri;
	font-weight: bold;
}

.one { background-color: #D8E1E9; }
.one:hover { background-color: #E7ECF1; }
.one:active { background-color: #8BA4BC; }

.two { background-color: #CBD8E2; }
.two:hover { background-color: #E7ECF1; }
.two:active { background-color: #8BA4BC; }

.home-link {
	text-decoration: none;
	color: #45647A;
	font-size: 13px;
	font-family: Arial;
}

.home-link:hover {color: #789AB4;}
.home-link:active {color: #21303A;}

/*************** LOGIN ***************/

#login-t {
	background-color: #E2E9EF;
	border-collapse: collapse;
	width: 320px;
	height: 150px;
	margin: 0 auto;
}

#login-t-header {
	background-color: #D3DEE7;
	height: 32px;
	font-size: 20px;
	font-family: Calibri;
	font-weight: bold;
	padding: 3px;
	color: #2D4053;
	text-align: center;
}

#login-t-body { text-align: center; }

#login-t-body realtime-input label {
	font-size: 16px;
	font-family: Arial;
}

#login-t-body realtime-input input {
	font-size: 16px;
	font-family: Arial;
	padding: 3px;
	outline: none;
}

.rt-submit { position: relative; }

.rt-submit input { display: inline-block; }

.rt-status {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	right: 15px;
	margin-top: 7px;
}

/*************** VOTING PANEL ***************/

#page_votingpanel {
	margin: 0 auto;
	width: 500px;
	background-color: #E2E9EF;
	border-collapse: collapse;
}


#votingpanel-t-header {
	background-color: #D3DEE7;
	height: 32px;
	font-size: 20px;
	font-family: Calibri;
	font-weight: bold;
	padding: 3px;
	color: #2D4053;
	text-align: center;
}

#votingpanel-t-body {

}

#votingpanel-entries-t {
	width: 100%;
	border-collapse: collapse;
}

#votingpanel-entries-t td > button {

}

.votingpanel-entry {
	border-collapse: collapse;
}

.votingpanel-entry td {
	padding: 5px;
	font-size: 14px;
	font-family: Arial;
}

.votingpanel-entrytext { width: 100%; }

.votingpanel-votebtn button { padding: 2px; }

.votingpanel-results-btn {text-align: right;}

/*************** WELCOME PAGE ***************/

#page_welcome {
	margin: 0 auto;
	width: 500px;
	background-color: #E2E9EF;
	border-collapse: collapse;
}

#welcome-header {
	background-color: #D3DEE7;
	height: 32px;
	font-size: 20px;
	font-family: Calibri;
	font-weight: bold;
	padding: 3px;
	color: #2D4053;
	text-align: center;
}

#welcome-body { padding: 5px; }

#welcome-poll-list {
	list-style: none;
	margin-top: 5px;
}

#welcome-poll-list li {
	font-size: 15px;
	font-family: Arial;
	color: #45647A;
	cursor: pointer;
	padding: 1px;
	position: relative;
	padding-left: 5px;
}

#welcome-poll-list li:before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 3px;
	height: 3px;
	background-color: #45647A;
	top: 8px;
	left: 1px;
}

#welcome-poll-list li:hover { color: #233441; }
#welcome-poll-list li:active { color: black; }

#welcome-refresh {
	cursor: pointer;
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle
}
#welcome-refresh:hover { background-color: #C6D3DF; }
#welcome-refresh:active { background-color: #BACAD8; }